@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
@* <h1 class="display-4">Welcome @ViewBag.name</h1> *@
<h1>Name: @ViewData["name"]</h1>
@* <h1>Name2: @ViewBag.age</h1> *@
<h1> Người đẹp trai nhất là: @TempData["Name"]</h1>
<h1> Với số điểm là: @TempData["path"]</h1>
<h1> Với : @TempData["s"]</h1>
<p>Use this page to detail your site's privacy policy.</p>